entrypoint = "build/main/main.js"
modules = ["nodejs-20", "web"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run Application"
author = 42945471
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && node build/main/main.js"

[[workflows.workflow]]
name = "Run"
author = 42945471
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && node build/main/main.js"
